<div class="row">
  <div class="col sm8">
    <div class="instruments">
      {{#each model.instruments as |instrument|}}
      {{instrument-tile instrument=instrument destroyInstrument='destroyInstrument' update='update' saveFeedback="saveFeedback" deleteFeedback='deleteFeedback' session=session}}
      {{/each}}
    </div>
  </div>

  <div class="col sm4">
    <div class="new-instrument">
      {{display-cart}}
      {{new-instrument saveInstrument='saveInstrument'}}
    </div>
  </div>
</div>
